USE [VIJAYA_PRODUCTS]
GO
/****** Object:  StoredProcedure [dbo].[INVOICE_MANAGEMENT]    Script Date: 16-01-2020 7.37.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[INVOICE_MANAGEMENT]
@INVOICE_ID INT,
@INVOICE_NO VARCHAR(50),
@DATE DATE,
@CUSTOMER_NAME VARCHAR(100),
@PRODUCT_NAME VARCHAR(100),
@TOTAL DECIMAL(18,2),
@NET_TOTAL DECIMAL(18,2),
@GRAND_TOTAL DECIMAL(18,2),
@ROUND_OFF DECIMAL(18,2),
@CGST DECIMAL(18,2),
@SGST DECIMAL(18,2),
@SGST_PER DECIMAL(18,2),
@CGST_PER DECIMAL(18,2),
@USER_ID INT,
@IS_PRINT BIT,
@SHOP1 VARCHAR(100),
@SHOP2 VARCHAR(100),
@SHOP3 VARCHAR(100),
@SP_OPERATION VARCHAR(200)
AS
BEGIN
	IF(@SP_OPERATION = 'INSERT_INVOICE')
	BEGIN
		IF NOT EXISTS(SELECT * FROM INVOICE WHERE INVOICE_ID=@INVOICE_ID )
		BEGIN
			INSERT INTO INVOICE(INVOICE_NO,DATE,CUSTOMER_NAME,PRODUCT_NAME,SHOP1,SHOP2,SHOP3,TOTAL,NET_TOTAL,ROUND_OFF,GRAND_TOTAL,CGST_PER,SGST_PER,CGST,SGST,CREATED_ON,CREATED_BY)
			VALUES(@INVOICE_NO,@DATE,@CUSTOMER_NAME,@PRODUCT_NAME,@SHOP1,@SHOP2,@SHOP3,@TOTAL,@NET_TOTAL,@ROUND_OFF,@GRAND_TOTAL,@CGST_PER,@SGST_PER,@CGST,@SGST,GETDATE(),@USER_ID)			
		END
		ELSE
		BEGIN
			UPDATE INVOICE SET INVOICE_NO=@INVOICE_NO,CUSTOMER_NAME=@CUSTOMER_NAME,DATE=@DATE,PRODUCT_NAME=@PRODUCT_NAME,SHOP1=@SHOP1,SHOP2=@SHOP2,SHOP3=@SHOP3,TOTAL=@TOTAL,
			NET_TOTAL=@NET_TOTAL,ROUND_OFF=@ROUND_OFF,GRAND_TOTAL=@GRAND_TOTAL,CGST_PER=@CGST_PER,SGST_PER=@SGST_PER,CGST=@CGST,SGST=@SGST,IS_PRINT=ISNULL(@IS_PRINT,IS_PRINT)
			
			WHERE INVOICE_ID=@INVOICE_ID 
		END
	END

	IF(@SP_OPERATION='GET_INVOICE_ID')
	BEGIN
		INSERT INTO INVOICE (DATE,CREATED_ON,CREATED_BY)VALUES(@DATE,GETDATE(),@USER_ID)
		SELECT MAX(INVOICE_ID) AS INVOICE_ID FROM INVOICE WHERE DATE=@DATE 
	END

	--IF(@SP_OPERATION='INSERT_SHOPS')
	--BEGIN
	--	INSERT INTO SHOP_DETAILS( SHOPNAME1,SHOPNAME2,SHOPNAME3)
	--	VALUES(@SHOPNAME1,@SHOPNAME2,@SHOPNAME3)

	--	SELECT MAX(SHOP_ID) AS SHOP_ID FROM SHOP_DETAILS
	--END
	IF(@SP_OPERATION='DELETE_INVOICE_IF_NOT_SAVE')
	BEGIN
		DELETE FROM INVOICE_PRODUCT WHERE INVOICE_ID=(SELECT INVOICE_ID FROM INVOICE WHERE IS_PRINT IS NULL)
		DELETE FROM INVOICE WHERE IS_PRINT IS NULL;		
	END
	IF(@SP_OPERATION='GET_INVOICE_REPORT')
	BEGIN
		SELECT  INVOICE_NO,DATE,CUSTOMER_NAME,PRODUCT_NAME,TOTAL,GRAND_TOTAL,SHOP1,SHOP2,SHOP3,SGST_PER,CGST_PER,CGST,SGST FROM INVOICE 
		WHERE INVOICE_ID=@INVOICE_ID
	END
END

GO
/****** Object:  StoredProcedure [dbo].[INVOICE_PRODUCT_MANAGEMENT]    Script Date: 16-01-2020 7.37.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[INVOICE_PRODUCT_MANAGEMENT]
@INVOICE_PRODUCT_ID INT ,
@INVOICE_ID INT,
@DATE varchar(50),
@QTY1 DECIMAL(18,2),
@QTY2 DECIMAL(18,2),
@QTY3 DECIMAL(18,2),
@RATE DECIMAL(18,2),
@UNIT DECIMAL(18,2),
@DISCOUNT DECIMAL(18,2),
@AMOUNT DECIMAL(18,2),
@SP_OPERATION VARCHAR(200)
AS
BEGIN
	IF(@SP_OPERATION ='INSERT_INVOICE_PRODUCT')
	BEGIN
		IF NOT EXISTS (SELECT * FROM INVOICE_PRODUCT WHERE INVOICE_PRODUCT_ID = @INVOICE_PRODUCT_ID)
		BEGIN
			INSERT INTO INVOICE_PRODUCT (INVOICE_ID,QTY1,QTY2,QTY3,RATE ,UNIT,DISCOUNT,AMOUNT,DATE)
			VALUES(@INVOICE_ID,@QTY1,@QTY2,@QTY3,@RATE ,@UNIT,@DISCOUNT,@AMOUNT,@DATE)
		END
		ELSE
		BEGIN
			UPDATE INVOICE_PRODUCT SET INVOICE_ID=@INVOICE_ID,QTY1=ISNULL(@QTY1,QTY1),QTY2=ISNULL(@QTY2,QTY2),QTY3=ISNULL(@QTY3,QTY3),RATE=ISNULL(@RATE,RATE) 
			,UNIT=ISNULL(@UNIT,UNIT),DISCOUNT=ISNULL(@DISCOUNT,DISCOUNT),AMOUNT=ISNULL(@AMOUNT,AMOUNT),DATE=ISNULL(@DATE,DATE)
			WHERE INVOICE_PRODUCT_ID=@INVOICE_PRODUCT_ID
		END
		UPDATE IP SET AMOUNT=(ISNULL(QTY1,0)+ISNULL(QTY2,0)+ISNULL(QTY3,0))*ISNULL(RATE,0) FROM INVOICE_PRODUCT IP WITH(NOLOCK) WHERE INVOICE_ID=@INVOICE_ID

		UPDATE INVOICE SET TOTAL=(SELECT SUM(AMOUNT) FROM INVOICE_PRODUCT IP WHERE IP.INVOICE_ID=@INVOICE_ID) WHERE INVOICE_ID=@INVOICE_ID 
	END
	IF(@SP_OPERATION='GET_PRODUCT')
	BEGIN
		--UPDATE INVOICE SET TOTAL=(SELECT SUM(CAST((ISNULL(IP.QTY,0)*ISNULL(IP.RATE,0))-((((ISNULL(IP.QTY,0)*ISNULL(IP.RATE,0))/100)*ISNULL(IP.DISCOUNT,0))) AS DECIMAL(18,2)))
		--FROM INVOICE_PRODUCT IP LEFT JOIN MATERIAL M ON IP.PRODUCT_NAME=M.MATERIAL_NAME 
		--WHERE IP.INVOICE_ID=@INVOICE_ID) WHERE INVOICE_ID=@INVOICE_ID 
		
		SELECT INVOICE_PRODUCT_ID,QTY1,QTY2,QTY3,PP.RATE,DATE,AMOUNT		
		FROM INVOICE_PRODUCT PP WHERE INVOICE_ID=@INVOICE_ID
		UNION ALL

		SELECT 0 AS INVOICE_PRODUCT_ID,NULL AS QTY1,NULL AS QTY2,NULL AS QTY3,NULL AS RATE,NULL AS DATE,NULL AS AMOUNT
	END
	IF(@SP_OPERATION='GET_PRODUCT_TOTAL_BY_CLIENT')
	BEGIN		

		UPDATE INVOICE SET GRAND_TOTAL=(SELECT CAST(ISNULL(PO.TOTAL,0)+((PO.TOTAL/100)*(ISNULL(PO.CGST_PER,0)+ISNULL(PO.SGST_PER,0))) AS DECIMAL(18,2))
		FROM INVOICE PO WHERE INVOICE_ID=@INVOICE_ID ) WHERE INVOICE_ID=@INVOICE_ID

		UPDATE INVOICE SET CGST=(SELECT CAST((PO.TOTAL/100)*(ISNULL(PO.CGST_PER,0)) AS DECIMAL(18,2))
		FROM INVOICE PO WHERE INVOICE_ID=@INVOICE_ID ) WHERE INVOICE_ID=@INVOICE_ID

		UPDATE INVOICE SET SGST=(SELECT CAST((PO.TOTAL/100)*(ISNULL(PO.SGST_PER,0)) AS DECIMAL(18,2))
		FROM INVOICE PO WHERE INVOICE_ID=@INVOICE_ID ) WHERE INVOICE_ID=@INVOICE_ID		

		SELECT PO.TOTAL,PO.NET_TOTAL,PO.CGST,PO.SGST,PO.GRAND_TOTAL FROM INVOICE PO WHERE INVOICE_ID=@INVOICE_ID 
	END
	IF(@SP_OPERATION='DELETE_INVOICE_PRODUCT')
	BEGIN
		DELETE INVOICE_PRODUCT WHERE INVOICE_PRODUCT_ID=@INVOICE_PRODUCT_ID
	END
	IF(@SP_OPERATION='GET_IVOICE_PRODUCT_REPORT')
	BEGIN
		SELECT QTY1,QTY2,QTY3,RATE,AMOUNT,DATE FROM INVOICE_PRODUCT WHERE INVOICE_ID=@INVOICE_ID
	END
END
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 16-01-2020 7.37.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INVOICE](
	[INVOICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[INVOICE_NO] [varchar](50) NULL,
	[DATE] [date] NULL,
	[CUSTOMER_NAME] [varchar](100) NULL,
	[PRODUCT_NAME] [varchar](100) NULL,
	[TOTAL] [decimal](18, 2) NULL,
	[NET_TOTAL] [decimal](18, 2) NULL,
	[GRAND_TOTAL] [decimal](18, 2) NULL,
	[CREATED_ON] [date] NULL,
	[CREATED_BY] [int] NULL,
	[ROUND_OFF] [decimal](18, 2) NULL,
	[CGST] [decimal](18, 2) NULL,
	[IS_PRINT] [bit] NULL,
	[SGST] [decimal](18, 2) NULL,
	[GST_ID] [int] NULL,
	[SHOP1] [varchar](100) NULL,
	[SHOP2] [varchar](100) NULL,
	[SHOP3] [varchar](100) NULL,
	[SGST_PER] [decimal](18, 2) NULL,
	[CGST_PER] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INVOICE_PRODUCT]    Script Date: 16-01-2020 7.37.39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INVOICE_PRODUCT](
	[INVOICE_PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[INVOICE_ID] [int] NULL,
	[QTY1] [decimal](18, 2) NULL,
	[QTY2] [decimal](18, 2) NULL,
	[QTY3] [decimal](18, 2) NULL,
	[RATE] [decimal](18, 2) NULL,
	[UNIT] [decimal](18, 2) NULL,
	[DISCOUNT] [decimal](18, 2) NULL,
	[AMOUNT] [decimal](18, 2) NULL,
	[DATE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[INVOICE_PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
